body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  width: 25%;
  height: 50px;
  border-radius: 0;
  border: 1px solid gray;
}

.display-result {
  width: 300px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

#result {
  width: 294px;
  height: 76px;
  border: 1px solid gray;
}

.button-panel {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}